.lights{
  background-color: #b1006a !important;
}
.chat{
  background-color: #2E7D32 !important;
}
.todos{
  background-color: #8b00dd !important;
}
.calendar{
  background-color: #00695C !important;
}
.default{
  background-color: #424242 !important;
}
