.loginCard{
        width: fit-content;
        padding: 20px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.content{
    display: flex;
    flex-direction: column;
}


.marginLeft{
    margin-left: 20px !important;
}

.cardAction{
    justify-content: flex-end;

}
